<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <div class="hero">
        <div class="form-box">
            <div class="middle">
                <h2>Login</h2>
            </div>
            <form id="log-form" class="input-group" method="post" action="/users/login">
                <input class="input-field" placeholder="Email" name="Email" type="email">
                <input class="input-field" placeholder="Password" name="Password" type="password">
                <button type="submit" class="submit-btn">Login</button>
            </form>
        </div>
    </div>
</body>

</html>